<a href="/register">Not registered? Register here!</a>
<form action="/" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="Password">
    <input type="submit" value="Login">
</form>

<script src="scripts/login.js"></script>