<a href="/login">Already registered? Log in here!</a>
<form action="#" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="submit" value="Register">
</form>

<script src="scripts/register.js" type="module"></script>
